{% extends 'base.html' %}
{% block content %}



<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>自动化运维菜单:</h5>
                        <div>
                            <ui id="treeDemo" class="ztree"></ui>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href="{% url 'ansible_cmd' %}"><i class="fa fa-folder"></i> 执行命令 </a></li>
                            <li><a href=""><i class="fa fa-folder"></i> Playbook </a></li>
                            <li><a href=""><i class="fa fa-folder"></i> 更新文件 </a></li>
                            <li><a href=""><i class="fa fa-folder"></i> 执行脚本 </a></li>
                            <li><a href=""><i class="fa fa-folder"></i> rontab </a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <div id="log" class="log">
                        <div id="result">
                            <div class="jumbotron" >
                                    <h2>
                                        主机批量管理系统
                                    </h2>
                                    <p>
                                        需谨慎操作，不清楚选项请不要随意执行，以免造成重大事故<br><br>
                                        运维部<br>
                                    </p>

                                </div>
<pre>
总服务器:{{ data.count }}

</pre>

                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}




