{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/layui/layui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/plugins/layer/layer.css' %}"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>


<body>
<pre class="layui-code" lay-title="" lay-height="" lay-skin="" lay-encode="">
{% for i in file_data %}{{ i }}
{% endfor %}
</pre>

<!-- 你的HTML代码 -->

<script>
//一般直接写在一个js文件中
layui.use(['code'], function(){
layui.code({
  title: "{{ file_name }}"
  ,skin: 'notepad' //如果要默认风格，不用设定该key。
});
});
</script>


</body>
</html>
