{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}





 <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="col-sm-2">
                    <h4>上传文件列表</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-xs btn-add-file">添加文件</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover ">
                            <thread>
                                <tr>
                                    <th class="text-center">
                                        <input type="checkbox" class="i-checks" name="checkall" value="checkall" id="checkall" data-editable="false" onclick="" >
                                    </th>
                                    <th class="text-center">文件名</th>
                                    <th class="text-center">描述</th>
                                    <th class="text-center">文件大小</th>
                                    <th class="text-center">MD5</th>
                                    <th class="text-center">是否共享</th>
                                    <th class="text-center">上传时间</th>
                                    <th class="text-center">上传用户</th>
                                    <th class="text-center">操作</th>

                                </tr>
                            </thread>
                            <tbody class="list">
                            {% for f in files %}
                                <tr>
                                    <td  class="text-center">
                                        <input type="checkbox" value="{{ f.pk }}" name="host_checkbox" class="i-checks" tabindex="0">
                                    </td>
                                    <td class="text-center">{{ f.file_name }}</td>
                                    <td class="text-center">{{ f.description }}</td>
                                    <td class="text-center">{{ f.file_size }}</td>
                                    <td class="text-center">{{ f.md5 }}</td>
                                    <td class="text-center">
                                        {% if f.is_shared %}
                                            共享
                                        {% else %}
                                            私有
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ f.date_joined }}</td>
                                    <td class="text-center">{{ f.user.first_name }}</td>
                                    <td>
                                        <input type="button" class="btn-danger btn-xs" value="删除">
                                        <input type="button" class="btn-success btn-xs" value="分发">
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                </div>
            </div>
        </div>
 </div>

    <script>
    $(".btn-add-file").click(function(){
        window.location.href="{% url 'upload' %}";
    })


    </script>


{% endblock content %}