{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

{#    <style>#}
{#    .voilet{float:right;}#}
{#    .jumbotron{margin-top:10px;}#}
{#    .wrapper{background:#ffffff;width:100%;}#}
{##}
{#    .voilet_idc{width:142px;height:439px;background:url("/static/images/jg.gif");float:left; margin:8px; 10px;}#}
{#    .voilet_idc ul{width:142px;padding-top:35px;padding-right:30px;}#}
{#    .voilet_idc li{background: url("/static/images/1u.gif"); margin:8px 8px 5px 0;height:12px;overflow:hidden;}#}
{#    </style>#}


<div class="wrapper wrapper-content">
    <div class="row">
        <div id="edit_result">
            <div class="col-lg-9 animated fadeInRight">

                <div class="mail-box"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins voilet-margins">
                                        <div class="ibox-content">
                                            {% for k,v in idc_data.items %}
                                                <div>
                                                    <h4><i class="fa fa-sitemap"></i> {{ k }}{{ v }}台<i class="fa fa-linux"></i>
                                                    </h4>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins voilet-margins">
                                        <div class="ibox-content">
                                            <div>
                                                <div class="feed-activity-list">
                                                    <strong><i class="fa fa-user"></i> 用户总数: {{ user_count }}人</strong><br/>
                                                    <strong><i class="fa fa-group"></i> 部门: {{ department_count }}</strong>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="ibox float-e-margins voilet-margins">
                                        <div class="ibox-content inspinia-timeline">
                                            <div class="row">
                                                <div class="col-xs-7 content no-top-border">
                                                    <p class="m-b-xs"><strong>Meeting</strong></p>
                                                    <p>Conference on the sales results for the previous</p>
                                                    <p><span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="application/javascript">
app.title = '环形图';

option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series: [
        {
            name:'访问来源',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ]
        }
    ]
};




</script>
{% endblock content %}

