{% extends "base.html" %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 权限分配详细信息列表 </h5>
                </div>

                <div class="ibox-content">
                    <br/>
                    <div class="tab-content">
                        <table class="table table-striped table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th class="text-center"> <i class="glyphicon glyphicon-user"></i>角色名称 </th>
                                    <th class="text-center"> 角色描述 </th>
                                    <th class="text-center"> 成员人数 </th>
                                    <th class="text-center"> 状态 </th>
                                    <th class="text-center"> <li class="glyphicon glyphicon-cog"></li>管理操作 </th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for i in data %}
                                <tr class="gradeX">
                                    <td class="text-center" id="username"> {{ i.group_name }} </td>
                                    <td class="text-center" id="ip"> {{ i.explanation }} </td>
                                    <td class="text-center" id="ip"> {% for k,v in group_user_count.items %} {% if k == i.uuid %}{{ v }}{% endif %}{% endfor %} </td>
                                    {% if i.enable %}
                                        <td class="text-center"><a href="#" class="voilet_restart"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#2ad49e"></span></a> </td>
                                    {% else %}
                                        <td class="text-center"><a href="#" class="voilet_restart"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#ff6846"></span> </a></td>
                                    {% endif %}
                                    <td class="text-center" id="start_time"> <a href="{% url 'hrule_authorize' i.uuid %}" class="select_node"  >权限管理</a> |
                                        <a href="{% url 'hrule_edit' i.uuid %}" class="select_node"><li class="glyphicon glyphicon-pencil" style="color:#2ad49e"></li>修改</a> |
                                        <a><li class="glyphicon glyphicon-trash" style="color:#ff6846"></li>删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                 <div class="row">
                    <div class="col-sm-6">
                        <input type="button" class="btn btn-sm btn-primary" onclick="window.location.href='{% url 'hrule_add' %}'" value="添加权限组">
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>

{% endblock content %}