{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>用户列表</h4>
                </div>
                <div class="ibox-content">
                    <form id="host_form">
                    {% if request.user.is_superuser or request.session.fun_auth.edit_user %}
                        <div class="col-sm-2" style="padding-left: 0;">
                            <a type="button" href="{% url 'user_add' %}" class="btn btn-primary btn-sm" name="update_button" id="user_add">添加用户</a>
                        </div>
                    {% endif %}

                        <!-- Single button -->


                        <table class="table table-striped table-bordered table-hover ">
                            <thread>
                                <tr>
                                    <th>姓名</th>
                                    <th>部门</th>
                                    <th>角色</th>
                                    <th>邮箱</th>
                                    <th>主机数量</th>
                                    <th>状态</th>
                                    <th>注册时间</th>
                                    <th>上次登录时间</th>
                                    <th>操作</th>


                                </tr>
                            </thread>
                            <tbody class="list">

                            {% for user in users %}

                                <tr id={{ user.pk }}>
                                    <td>{{ user.first_name }}</td>
                                    {% if user.department %}
                                        <td>{{ user.department.department_name }}</td>
                                    {% else %}
                                        <th>没有分组</th>
                                    {% endif %}

                                    <td>
                                        {% if user.is_superuser %}
                                            超级管理员
                                        {% else %}
                                            普通用户
                                        {% endif %}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                    </td>
                                    <td>
                                        {% if user.is_active and user.is_staff%}
                                            <i class="fa fa-check-circle-o" style="color:#279048">正常</i>
                                        {% elif not user.is_staff and user.is_active %}
                                            <i class="fa fa-ban">禁用</i>
                                        {% else %}
                                            <i class="fa fa-ban">离职</i>
                                        {% endif %}
                                    </td>
                                    <td>{{ user.date_joined }}</td>
                                    <td>
                                        {% if user.last_login == None %}
                                            未登录
                                        {% else %}
                                            {{ user.last_login }}
                                        {% endif %}
                                    </td>

                                    <td class="btn-group">
                                        <a href="{% url 'user_edit' user.uuid %}" class="btn btn-xs btn-info">修改</a>
                                        {% if user.is_staff and not user.is_active %}
                                            <button type="button" class="btn btn-success btn-xs user-active" value="{{ user.uuid }}">恢复</button>
                                        {% else %}
                                            <button type="button" class="btn btn-xs btn-warning user-active" value="{{ user.uuid }}">禁用</button>
                                        {% endif %}
                                        <button type="button" class="btn btn-xs btn-danger user-del" value="{{ user.uuid }}">删除</button>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </form>

                </div>
            </div>
        </div>

    </div>


    <script type="application/javascript">
    // 删除用户
    function delAccount(){
        $(".user-del").click(function(){
            var $this = $(this);
            var
                    uid = $this.val(),
                    ajax_url = "{% url 'user_del' %}?id="+uid,
                    name = "用户名: "+$(this).closest("tr").children().first().html()
                    ;
            objectDelete($this,name,ajax_url);
        })
    }
    // 修改用户状态
    function activeAccount(){
        $(".user-active").click(function(){
            var $this = $(this);
            var
                    uid = $this.val(),
                    ajax_url = "{% url 'user_active' %}?id="+uid,
                    name = "用户名: "+$(this).closest("tr").children().first().html()
            ;
            objectActiveChange($this,name,ajax_url,'','reload');
        })
    }

    $(document).ready(function(){
        delAccount();
        activeAccount()


    });

    </script>

{% endblock %}